{% extends "base.html" %}
{% block title %}Page not found{% endblock %}
{% block content %}
<div class="container mt-100">
  <div class="row">
    <div class="col-sm-6 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{{ exception }}</strong>
        </div>
      </div>
    </div>
  </div>
    <div class="copyright"> LightIT © 2016 </div>
</div>
{% endblock %}