{% load staticfiles %}
<!doctype html>
<html>
  <head>
  {% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flat-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flat-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/default.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>    
    <title>{% block title %}{% endblock %} - LightIT Participations</title>
  {% endblock %}
  </head>
  <body>
    <div class="block-header">
      <a href="{% url 'participantsapp:projects' %}"><img class="project-icon" src="{% static 'img/Projects-icon-480x200.png' %}" /></a>
      {% if request.user.username %}
      <div class="logout">
          {{ request.user.first_name }} {{ request.user.last_name }} <a class="btn btn-info btn-lg" href="{% url 'participantsapp:logout' %}"> <span class="glyphicon glyphicon-log-out"></span> Log out </a>
      </div>
      {% endif %}
    </div>    
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>