{% extends "base.html" %}
{% load base_extra %}
{% block title %}Project details{% endblock %}
{% block content %}
<div class="container mt-100">
  <p class="h1 text-center">{{ proj_details.name}}</p>
  <div class="row is-table-row">
    <div class="col-md-4 col-sm-4 well">
      <i class="glyphicon glyphicon-link"></i>{% if proj_details.url %}<a target="_blank" href="{{ proj_details.url }}" class="blue-link">{{ proj_details.url }}</a>{% endif %}{% if proj_details.reason %}{{ proj_details.reason }}{% endif %}
    </div>
    <div class="col-md-4 col-sm-4 well">
      <span class="glyphicon glyphicon-user"></span><a target="_blank" class="blue-link" href="{% url 'participantsapp:projects' %}?search={{ proj_details.developer.last_name }}+{{ proj_details.developer.first_name }}">{{ proj_details.developer.last_name }} {{ proj_details.developer.first_name }}</a> / <a target="_blank" class="blue-link" href="{% url 'participantsapp:projects' %}?search={{ proj_details.manager }}">{{ proj_details.manager }}</a>
    </div>
    <div class="col-md-4 col-sm-4 well">
      <span class="glyphicon glyphicon-calendar"></span>{{ proj_details.date_start|date:"d M Y" }} - {{ proj_details.date_end|date:"d M Y" }}
    </div>
  </div>
  <div class="row is-table-row">
    <div class="col-md-9 well">
      <h6>Description:</h6>
      {% if proj_details.description %}
        {{ proj_details.description }}
      {% else %}
        Not exist
      {% endif %}
      <br/>
      <h6>Attached files:</h6>
      {% for f in proj_details.files.all %}        
        <a class="blue-link" href="{% url 'participantsapp:get_project_file' f.id %}">{{ f.file.name|get_last_url_part }}</a><br/>
      {% endfor %}
    </div>
    <div class="col-md-3 well">
      <h6>Skills:</h6>
      {% if proj_details.skill.all %}
        {% for skill in proj_details.skill.all %}
          <a target="_blank" class="blue-link" href="{% url 'participantsapp:projects' %}?search={{ skill.name|urlencode }}">{{ skill.name }}{% if not forloop.last %}, {% endif %}</a>
        {% endfor %}
      {% else %}
        No data
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}