{% extends "base.html" %}
{% load staticfiles base_extra %}
{% block title %}Projects{% endblock %}
{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/highlight.jquery.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container mt-100">
  <div class="row">
    <div>
      <h3 class="h3-proj">Projects</h3>
      <a class="btn btn-info addproject" href="{% url 'participantsapp:quiz' %}">ADD ANOTHER PROJECT</a>
      {% if request.GET.search %}<a class="btn btn-info search_buttons" href="{% url 'participantsapp:projects' %}">CANCEL</a>{% endif %}
      <form class="search-proj-form" action="{% url 'participantsapp:projects' %}" method="GET">
        <input id="id_orderby" name="orderby" type="hidden" value="{% if request.GET.orderby %}{{ request.GET.orderby }}{% endif %}" />
        <input type="submit" class="btn btn-lg btn-info btn-block search_buttons el-width-110" value="SEARCH" />
        <input id="id_search" class="form-control search_buttons el-width-200" autocomplete="off" name="search" value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}" type="text" />
      </form>
    </div>
    {% if projects %}
      <table id="allProjectsTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><a href="{% url 'participantsapp:projects' %}?{% add_url_params request.GET 'name' %}">Project<span class="glyphicon {% is_order_by request.GET 'name' %}"></span></a></th>
            <th>Live</th>
            <th>URL</th>
            <th>Skills</th>
            <th><a href="{% url 'participantsapp:projects' %}?{% add_url_params request.GET 'manager__last_name' %}">Manager<span class="glyphicon {% is_order_by request.GET 'manager__last_name' %}"></span></a></th>
            <th><a href="{% url 'participantsapp:projects' %}?{% add_url_params request.GET 'date_start' %}">Start date<span class="glyphicon {% is_order_by request.GET 'date_start' %}"></span></a></th>
            <th><a href="{% url 'participantsapp:projects' %}?{% add_url_params request.GET 'date_end' %}">End date<span class="glyphicon {% is_order_by request.GET 'date_end' %}"></span></a></th>
            <th><a href="{% url 'participantsapp:projects' %}?{% add_url_params request.GET 'developer_id' %}">Developer<span class="glyphicon {% is_order_by request.GET 'developer_id' %}"></span></a></th>
            {% if request.user.is_staff %}<th>NDA</th>{% endif %}
          </tr>
        </thead>
        {% for project in projects %}
          <tr>
            <td><a href="{% url 'participantsapp:project_details' project.id %}">{{ project.name }}</td>
            <td class="center">{% if project.live %}<img class="el-width-25" src="{% static 'img/true.png' %}" />{% endif %}</td>
            <td>{% if project.url %}<a target="_blank" href="{{ project.url }}" class="blue-link">{{ project.url }}</a>{% endif %}{% if project.reason %}{{ project.reason }}{% endif %}</td>
            <td>{% if project.skill.all %}{% for skill in project.skill.all %}<a target="_blank" class="blue-link" href="{% url 'participantsapp:projects' %}?search={{ skill.name|urlencode }}">{{ skill.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}No data{% endif %}</td>
            <td><a target="_blank" class="blue-link" href="{% url 'participantsapp:projects' %}?search={{ project.manager }}">{{ project.manager }}</td>
            <td>{{ project.date_start|date:"d M Y" }}</td>
            <td>{% if project.working_now %}in progress{% else %}{{ project.date_end|date:"d M Y" }}{% endif %}</td>
            <td><a target="_blank" class="blue-link" href="{% url 'participantsapp:projects' %}?search={{ project.developer.last_name }}+{{ project.developer.first_name }}">{{ project.developer.last_name }} {{ project.developer.first_name }}</a></td>
            {% if request.user.is_staff %}<td class="center">{% if project.nda %}<img class="el-width-25" src="{% static 'img/true.png' %}" />{% endif %}</td>{% endif %}
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <div class="clear">
        <p>No Projects found</p>
      </div>
    {% endif %}
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{% url 'participantsapp:projects' %}?page={{ page_obj.previous_page_number }}{% if request.GET.orderby %}&orderby={{ request.GET.orderby }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"><img class="el-width-25" src="{% static 'img/previous.png' %}"></a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a href="{% url 'participantsapp:projects' %}?page={{ page_obj.next_page_number }}{% if request.GET.orderby %}&orderby={{ request.GET.orderby }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"><img class="el-width-25" src="{% static 'img/next.png' %}"></a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
</div>    
{% endblock %}