{% extends "base.html" %}
{% load base_extra staticfiles %}
{% block title %}Quiz{% endblock %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}" type="text/css" />
  <script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/skill_field_widget.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container mt-100">
  <div class="row">
    <div class="col-sm-6 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong> Quiz </strong>
        </div>
        <div class="panel-body">
          <form action="{% url 'participantsapp:quiz' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
              <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                  {{ form.as_p }}
                  <input id="user_id" type="hidden" value="{% if not request.user.is_staff %}{{ request.user.id }}{% endif %}" />
                  <div class="form-group">
                    <a class="btn btn-info addproject btn-proj" href="{% url 'participantsapp:projects' %}">Projects</a>
                    <input type="submit" class="btn btn-lg btn-info btn-block btn-proj" value="Add project">
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
    <div class="copyright"> LightIT © 2016 </div>
</div>
{% endblock %}